html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #e2e2e2;
}

header {
  margin: 0;
  padding: 10px;
  background-color: black;
  color: white;
  text-align: center;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-right: 20px;
}

.product {
  margin: auto;
  width: 80%;
  height: 50px;
}

.elem img {
  height: 100%;
}

.product .elem {
  height: 100%;
  width: 16%;
  padding-right:5px;
  float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.content {
  min-width: 800px;
  padding: 20px;
  margin: auto;
}
